@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

.footer{
    background-color: #191919;
    padding: 20px 0px;
    color: #d8cfd8;
    display: flex;
    justify-content: space-around;
}

.footer .name{
    font-size: 25px;
    font-weight: 500;
}

.footer .footer-links .footer-link{
    margin-right: 2vh;
}

.footer .footer-links .footer-link .footericon:hover{
    transform: scale(1.2);
}

@media (width < 500px){
    .footer{
        display: block;
        text-align: center;
    }

    .footer .footer-links .footer-link .footericon{
        height: 20;
    }

    .footer .name{
        font-size: 25px;
        padding-bottom: 5px;
    }
}