.main{
    margin: auto;
    padding-top: 100px;
    max-width: 1000px;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2s;       
    animation-iteration-count: infinite; 
    transform-origin: 70% 70%; 
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) } 
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) } 
    100% { transform: rotate( 0.0deg) }
  }
  

.main .details .profile-img{
    max-width: 320px;
    height: auto;
    margin: auto;
    border-radius: 50%;
    /* border-radius: 34% 65% 38% 62% / 51% 41% 59% 49%; */
    padding: 20px auto;
}


.main .details .top-block{
    font-size: 24px;
    font-size: clamp(20px, 4vw, 30px);
    text-align: center;
    font-weight: 500;
    color: #a8b2d1;
    color: #393646;
}

.main .details .top-block p{
    padding-bottom: 5px;
}

.main .details .top-block .title{
    /* font-size: 45px; */
    font-size: clamp(40px, 8.5vw, 80px);
    font-weight: 600;
    color: #ccd6f6;
    color: #393646;
}

.main .details .intro-block{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .details .intro-block p{
  padding: 5px;
    font-size: 26px;
    color: #393646;
}

.main .details .intro-block .name-block .name{
    font-size: 30px;
    font-weight: 600;
}

@media (width < 1100px){

    .main{
        margin: 5%;
        /* padding-top: 12vh; */
    }
    .main .details .top-block{
        width: 100%;
        /* font-size: 30px; */
    }   

    .main .details .intro-block .profile-img{
        padding: 20px 0px;
        /* width: 70%; */
    }
}

@media (width < 800px) {

    .main .details .top-block .title{
            /* font-size: 8.5vw; */
            line-height: 1.1;
        }
    
    .main .details .intro-block{
        display: block;
    }

    .main .details .intro-block .profile-img{
        display: block;
        /* width: 50%; */
    }
}

@media (width < 600px){
    .main .details .intro-block{
        font-size: 24px;
    }

    .main .details .intro-block p{
        font-size: 22px;
    }

    .main .details .intro-block .name{
        font-size: 24px;
        font-weight: 600;
    }


    .main .details .intro-block .profile-img{
        /* padding: 20px 0; */
        /* width: 70%; */
        display: block;
    }

    @media (width < 300px) {

        .main .details .profile-img{
            max-width: 250px;
        }
    }

    @media (width < 250px) {
        .main .details .profile-img{
            max-width: 200px;
        }
        
    }

}

/* @import url(https://fonts.googleapis.com/css?family=Exo:100); */
/* Background data (Original source: https://subtlepatterns.com/grid-me/)
/* Animations */
/* @-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

.mainbody {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  
  animation: bg-scrolling-reverse 0.92s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
} */ 