
.skillsbody{
    /* background-color: #f9f9f9;  */
    height: 100vh;
}

.mainS{
    margin: 100px auto;
    /* background-color: #f9f9f9;   */
    /* margin-top: 150px; */
    max-width: 1000px;
    padding: 20px 15px;
}

.mainS .headingS{
    font-size: 26px;
    color: #d0cdf8;
    padding: 20px 0;
    text-align: center;
    font-weight: 500;
}

.mainS .detailsS article{
    text-align: center;
    font-size: 30px;
    color: #d0cdf8;
    padding-bottom: 20px;
}

.mainS .detailsS{
    padding: 10px 0;
    font-size: 23px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.mainS .detailsS .sub-detailsS{
    padding: 20px 10px;
    border-radius: 10px;
}


.mainS .detailsS li{
    padding: 5px 0;
    /* width: fit-content;
    margin: auto; */
}


