@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

.contact-main {
    /* background-color: hsla(0, 0%, 10%, 0.314); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    max-width: 1200px;
    margin: auto;
}

.contact .heading {
    text-align: center;
    font-size: clamp(30px, 9vw, 50px);
    font-weight: 500;
    padding: 10px 0;
    color: #ccd6f6;

}

.contact .heading-desc {
    max-width: 600px;
    margin: auto;
    color: #8891b0;
    text-align: center;
    font-size: clamp(16px, 5vw, 18px);
}

.contact .contact-links {
    display: block;
    text-align: center;
    padding: 20px 0;
}


.contact .contact-links .contact-link {
    font-size: clamp(16px, 5vw, 22px);
    text-decoration: none;
    font-weight: 500;
    color: #e5f1ff;
    display: block;
}

.contact .contact-links .contact-link:hover{
    color: #6ce0dc;
    transition: 0.2s ease-in;
}

/* .contact .contact-links .contact-link .email {
    padding: 5px;
    border-bottom: 5px solid #1a9baf;   
}

.contact .contact-links .contact-link .email{
    background:
        linear-gradient(#000 0 0) no-repeat calc(200% - var(--p, 0%)) 100% / 200% var(--p, 10px);
    transition: .3s var(--t, 0s), background-position .3s calc(.3s - var(--t, 0s));
}

.contact .contact-links .contact-link .email:hover {
    --p: 100%;
    --t: .3s;
    color: #fff;
} */



/* .contact .contact-links .contact-link .email:hover{
    background-color: #1a9baf;
    color: #fafafa;
    transition: 0.1s ease-out;
} */

.contact .contact-links a {
    margin: 20px 0;
    border-radius: 10px;
}


.contact .contact-links .dbutton {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #6ce0dc);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    padding: 0.6em 1.5em;
    font-size: clamp(16px, 5vw, 22px);
}

.contact-links .dbutton:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

}

/* 
.contact .contact-links .dbutton{
    display: block;
    margin: 10px 0;
}

.contact .contact-links .dbutton{
    padding: 10px;
    color: #6ce0dc;
    text-decoration: none;
    border-radius: 10px;
    font-size: clamp(18px, 5vw, 24px);
    border: 1px solid #8e8b9a90;
}

.contact .contact-links .dbutton:hover{
    box-shadow: 0.25rem 0.25rem #6ce0dc;
    transform: translate(-0.25rem,-0.25rem);
    transition: 0.2s ease-in;
} */
/* .contact .contact-links .dbutton:hover{
    
} */

@media (width<800px) {
    .contact {
        padding: 0 10px;
    }
}

@media (width < 500px) {
    .contact {
        display: block;
        text-align: center;
    }


    .contact .name {
        font-size: 25px;
        padding-bottom: 5px;
    }
}