@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

.contact-main{
    /* background-color: hsla(0, 0%, 10%, 0.314); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    max-width: 1200px;
    margin: auto;
}

.contact .heading{
    text-align: center;
    font-size: clamp(30px, 9vw, 50px);
    font-weight: 500;
    padding: 10px 0;
    color: #ccd6f6;
    
}

.contact .heading-desc{
    max-width: 600px;
    margin: auto;
    color: #8891b0;
    text-align: center;
    font-size: clamp(16px, 5vw, 18px);
}

.contact .contact-links{
    display: block;
    text-align: center;
    padding: 20px 0;
}

.contact .contact-links .normal-b{
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    display: block;
}

.contact .contact-links .contact-link{
    font-size: clamp(16px, 5vw, 22px);
    text-decoration: none;
    color: #e5f1ff;
}

/* .contact .contact-links .contact-link .email{
    border-bottom: 2px solid #6ce0dc;
} */

.contact .contact-links .contact-link p{
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    color: #6ce0dc;
}

.contact .contact-links .contact-link p:hover{
    box-shadow: 5px 5px 10px 2px #6ce0dc;
    transition: 0.2s ease-in;
    
}

.contact .contact-links .contact-link .contacticon:hover{
    transform: scale(1.2);
}

.contact .contact-links .dbutton{
    display: block;
    margin: 10px 0;
}

.contact .contact-links .dbutton{
    padding: 10px;
    color: #6ce0dc;
    text-decoration: none;
    border-radius: 10px;
    font-size: clamp(18px, 5vw, 24px);
    border: 1px solid #8e8b9a90;
}

.contact .contact-links .dbutton:hover{
    box-shadow: 0.25rem 0.25rem #6ce0dc;
    transform: translate(-0.25rem,-0.25rem);
    /* box-shadow: 5px 5px 10px 2px #6ce0dc; */
    transition: 0.2s ease-in;
}
/* .contact .contact-links .dbutton:hover{
    
} */

@media (width<800px) {
    .contact{
        padding:0 10px;
    }
}

@media (width < 500px){
    .contact{
        display: block;
        text-align: center;
    }


    .contact .name{
        font-size: 25px;
        padding-bottom: 5px;
    }
}