
.skillsbody{
    /* background-color: #c3d2e7e8;  */
}

.mainS{
    margin: auto;
    /* margin-top: 100px; */
    max-width: 1200px;
    padding: 0px 15px;
}

.mainS .headingS{
    font-size: 26px;
    /* color: #1c184b; */
    text-align: center;
    font-weight: 500;
    
}

.mainS .expertise{
    font-size: clamp(30px, 9vw, 50px);
    color: #ccd6f6;
    /* color: #1c184b; */
    /* border-bottom: 5px solid; */
    text-align: center;
    font-weight: 600;
    padding: 20px 0;
}

.mainS .detailsS .sub-headingSkills p{
    text-align: center;
    font-size: 28px; 
    line-height: 1.2;
    color: #dbeaff;
    color: #ccd6f6;
    font-weight: 600;
    padding-bottom: 20px;
}

.mainS .detailsS{
    padding: 10px 0px;
    font-size: 22px;
    border-radius: 10px;
    display: inline-flex;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mainS .detailsS .sub-detailsS{
    /* border: 3px solid; */
    /* background: #fafafa70; */
    background: #3d3c4240;
    border-radius: 10px;
    padding: 20px 10px;
    margin:10px 0px;
    width: 300px;

}

.mainS .detailsS .sub-detailsS:hover{
    transition: 0.5s;
    transform: scale(1.05);
}

.mainS .detailsS .sub-detailsS .sub-headingSkills{
    display: flex;
    border-bottom: 3px solid #ccd6f6;;
}

.mainS .detailsS .sub-detailsS .sub-headingSkills img{
    border-radius: 10px;
    height: 65px;
}

.mainS .detailsS p{
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    text-align: center;
    padding: 5px;
}

@media (width < 450px) {
    
    .mainS .headingS{
        font-size: 24px;
    }

    /* .mainS .expertise{
        font-size: 30px;
    } */
}

@media (width < 350px) {
    .mainS .detailsS .sub-headingSkills p{
        font-size: 22px;
    }

    .mainS .detailsS .sub-detailsS{
        font-size: 20px;
    }

    .mainS .detailsS .sub-headingSkills img{
        width: 50px;
    }

}