.mainbody{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

.main{
    color: #fcfdfe;
    margin: 0px auto;
    /* margin-top: 20%; */
    /* padding: 0px 0px 100px 0px; */
    max-width: 1000px;
    
}


.main .details{
    min-height: 50vh;
    padding: 150px 5px;
}


.main .details .greeting{
    font-size: 45px;
    font-style: normal;
    margin-bottom: 50px;
    font-weight: 500;
}

.main .details .profile-img{
    width: 40%;
    height: auto;
    display: block;
    /* padding: 20px; */
    margin: auto;
    border-radius: 800px;
}

.main .details .top-block{
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    display: flex;
}

.main .links{
    margin-top: 60px;
}

.main .link-heading{
    font-size: 40px;
    /* color: #ddac58; */
    color: #8693dd;
    text-decoration: overline;
}

.main .links .link{
    font-size: 30px;
    /* text-decoration: none; */
    color: #fcfdfe;
}

.main .links .link:hover{
    transition: 1s;
    color: #d8cfc0;
    font-size: 35px;
    
}

.main .links p{
    margin-top: 20px;
}

.main .links p .dbutton{
    font-size: 28px;
    text-decoration: none;
    color: #fcfdfe;
    border-color: #d8cfc0;
    text-decoration: none;
    padding: 20px;
    border-style: groove;
    border-radius: 5px;
    background-color: transparent;
}

.main .links .dbutton:hover{
    transition: 1s;
    color: #d8cfc0;
    font-size: 35px;
    box-shadow: 0 0 10px 5px  #d8cfc0;
}

@media (width < 1000px){

    .main{
        margin: 5%;
        padding-top: 12vh;
    }

    .main .details .top-block{
        display: block;
        font-size: 30px;
    }

    .main .details .link{
        font-size: 26px;
    }

    .main .link-heading{
        font-size: 30px;
    }

    .main .details .link:hover{
        font-size: 28px;
    }

    .main .details .top-block .profile-img{
        padding: 20px 0px;
        width: 60%;
    }
}

@media (width < 600px){


    .main .details .greeting{
        font-size: 35px;
    }

    /* .main{
        padding-top: 20vh;
    } */

    .main .details .top-block{
        font-size: 24px;
    }


    .main .details .top-block .profile-img{
        padding: 20px;
        width: 80%;
    }

    @media (width < 400px) {

        .main .details .greeting{
            font-size: 30px;
        }


        .main .details .link{
            font-size: 20px;
        }

        .main .details .link:hover{
            font-size: 25px;
        }

        .main .link-heading{
            font-size: 25px;
        }
    }

    @media (width < 300px) {
        .main .details .link{
            font-size: 18px;
        }

        .main .details .link:hover{
            font-size: 21px;
        }
    }

}