.main{
    color: #fcfdfe;
    margin: 160px auto;
    max-width: 1000px;
}
.main .details .greeting{
    font-size: 350%;
    font-style: normal;
    margin-bottom: 50px;
}

.main .details .profile-img{
    width: 40%;
    height: auto;
    display: block;
    /* padding: 20px; */
    margin: auto;
    border-radius: 800px;
}

.main .details .top-block{
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    display: flex;
}

.main .links{
    margin-top: 60px;
}

.main .link-heading{
    font-size: 40px;
    color: aqua;
    text-decoration: overline;
}

.main .links .link{
    font-size: 30px;
    text-decoration: none;
    color: #fcfdfe;
}

.main .links .link:hover{
    transition: 1s;
    color: aqua;
    font-size: 35px;
}

.main .links p{
    margin-top: 20px;
}

.main .links p .dbutton{
    border-color: aqua;
    text-decoration: none;
    padding: 20px;
    border-style: groove;
    border-radius: 5px;
    background-color: #1f1f24;
}

.main .links .dbutton:hover{
    box-shadow: 0 0 10px 5px  aqua;
}


@media (width < 1000px){

    .main{
        margin: 5%;
        padding-top: 15vh;
    }

    .main .details .greeting{
        font-size:  50px;
    }

    .main .details .top-block{
        display: block;
        font-size: 26px;
    }

    .main .details .link{
        font-size: 26px;
    }

    .main .link-heading{
        font-size: 30px;
    }

    .main .details .link:hover{
        font-size: 28px;
    }

    .main .details .top-block .profile-img{
        padding: 20px 0px;
        width: 60%;
    }
}

@media (width < 600px){


    .main .details .greeting{
        font-size: 35px;
    }

    .main{
        padding-top: 20vh;
    }

    .main .details .top-block .profile-img{
        padding: 20px;
        width: 80%;
    }

    @media (width < 400px) {

        .main .details .greeting{
            font-size: 25px;
        }

        .main .details .top-block{
            display: block;
            font-size: 22px;
        }

        .main .details .link{
            font-size: 17px;
        }

        .main .details .link:hover{
            font-size: 19px;
        }

        .main .link-heading{
            font-size: 25px;
        }
    }

    

}