.works-wrapper{
  max-width: 1600px;
  margin: auto;
  
}

.works-wrapper .cards-work-container{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px 5px;
  border-radius: 10px;
  justify-content: space-evenly;
  background-color: #2e2c38;
}

.works-wrapper .works-heading{
  text-align: center;
  font-size: clamp(30px, 9vw, 50px);
  font-weight: 500;
  color: #2e2c38;
  padding: 20px 0;
}

.card{
  display: inline-flex;
  flex-direction: column;
  background-color: #3d3c4240;
  margin: 10px;
  padding: 10px;
  max-width: 450px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  
}

.card:hover{
  transition: 0.3s ease-in; 
  overflow: hidden;
  transform: translateY(-15px); 
}



.card__image{
  max-height:100%; 
  max-width:100%;
  object-fit: cover;
  border-radius: 10px;
}


.card__title{
  font-size: 26px;
  text-align: center;
  padding: 5px 0;
  color: #ccd6f6;
  color: #f4eee0;
  font-weight: 500;
}

.card__description{
  font-size: 16px;
  padding: 0px 20px;
  color: #f4eee0;
}

.card__btn{
  margin: 10px;
  color: #6ce0dc;
  color: #f4eee0;
  color: #f4eee0;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #8e8b9a90;
}

.card__btn:hover{
  transform: translate(-0.25rem,-0.25rem);
  background: #0f1928;
  background: #201c24;
  box-shadow: 0.25rem 0.25rem #6ce0dc;
  box-shadow: 0.25rem 0.25rem #4f4557;
  transition: 0.2s ease-in;
  } 

  .card__btn:active {
    transform: translate(0);
    box-shadow: none;
  }

.proj-body .works-wrapper .whatsapp{
  height: 1080px;
  width: 1440px;
}