.proj-body{
  min-height: 90vh;

}

.works-wrapper{
  max-width: 1400px;
  margin: auto;
  
}

.works-wrapper .cards-work-container{
  display: flex;
  flex-wrap: wrap;
  /* padding: 20px 0; */
  justify-content: space-evenly;
}

.works-wrapper .works-heading{
  text-align: center;
  font-size: clamp(30px, 9vw, 50px);
  font-weight: 500;
  color: #fff;
  padding: 20px 0;
}

.card{
  display: inline-flex;
  flex-direction: column;
  background-color: #3d3c4240;
  margin: 10px;
  padding-bottom: 10px;
  max-width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.card:hover{
  transition: 0.5s;
  overflow: hidden;
  transform: scale(1.02); 
}

.card__btn:hover{
  
  transition: 0.3s ease-in;
  box-shadow: 5px 5px 10px 2px #6ce0dc;
  } 

.card__image{
  max-height:100%; 
  max-width:100%;
  object-fit: cover;
  border-radius: 10px;
}

.card__title{
  font-size: 26px;
  text-align: center;
  padding: 5px 0;
  color: #fff;
  font-weight: 500;
}

.card__description{
  font-size: 18px;
  padding: 0px 20px;
}

.card__btn{
  margin: 10px;
  color: #6ce0dc;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  border: 1.5px solid #6ce0dc;
}