.works-wrapper {
  max-width: 1600px;
  margin: auto;

}

.works-wrapper .cards-work-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px 5px;
  border-radius: 10px;
  justify-content: space-evenly;
  background-color: #2e2c38;
}

.works-wrapper .works-heading {
  text-align: center;
  font-size: clamp(30px, 9vw, 50px);
  font-weight: 600;
  color: #2e2c38;
  padding: 20px 0;
}

.card {
  display: inline-flex;
  flex-direction: column;
  background-color: #3d3c4240;
  margin: 5px;
  padding: 10px;
  max-width: 450px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  margin-bottom: 20px;
}

.card:hover {
  transition: 0.3s ease-in;
  overflow: hidden;
  transform: translateY(-15px);
}

.card:hover .card__image {
  transform: scale(1.01);
  transition: 0.3s ease-in;
}

.card__image {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}


.card__title {
  font-size: clamp(20px, 24px, 3vw);
  text-align: center;
  padding: 10px 0;
  color: #ccd6f6;
  color: #f4eee0;
  color: #fff;
  font-weight: 500;
}

.card:hover .card__description {
  display: block;
  /* transform: translate(-15%, -15%); */
}

.card:hover .card__image{
  filter: blur(3px);
  transition: 0.3s ease-in-out;
  opacity: 0.3;
  /* filter: contrast(200%); */
  -webkit-backdrop-filter:  blur(15px) brightness(75%) saturate(70%);
  backdrop-filter: blur(15px) brightness(75%) saturate(70%);
}

.card__description{
  display: none;
  font-size: clamp(12px, 20px, 4.3vw);
  padding: 0px 1.2rem;
  border-radius: 10px;
  color: #efeee6;
  font-weight: 500;
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
  z-index: 100;
}

.card__btn{
  display: none;
  margin: 10px;
  color: #6ce0dc;
  color: #f4eee0;
  font-size: clamp(16px, 20px, 3vw);
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  border: 0.5px solid #8e8b9a90;
  box-shadow: 0 5px 10px 0px #0f0f0f;
}

.card:hover .card__project_type{
  display: none;
  transition: 1s ease-in;
}

.card:hover 
.card__btn {
  display: block;
  transition: 1s ease-in;
}

.card__btn:hover {
  transform: translate(-0.25rem, -0.25rem);
  background: #0f1928;
  background: #201c24;
  box-shadow: 0.25rem 0.25rem #6ce0dc;
  box-shadow: 0.25rem 0.25rem #4f4557;
  transition: 0.2s ease-in;
}

.card__btn:active {
  transform: translate(0);
  box-shadow: none;
}

.card__project_type {
  display: block;
  text-align: center;
  font-size: 18px;
  margin: 5px 0;
  font-weight: 500;
}

.proj-body .works-wrapper .whatsapp {
  height: 1080px;
  width: 1440px;
}
@media (pointer:none), (pointer:coarse) {
  .card__btn{
    display: block;
  }

  

  .card .card__project_type{
    display: none;
  }
}

@media (width < 400px) {
  .card .card__description{
    top: 35%;
  }
}
@media (width < 300px) {
  .card .card__description{
    top: 30%;
  }
}


/* @media (pointer:none), (pointer:coarse) {
  .card .card__image{
    filter: contrast(100%) blur(1px);
    opacity: 0.4;
    -webkit-backdrop-filter:  blur(15px) brightness(75%) saturate(70%);
    backdrop-filter: blur(15px) brightness(75%) saturate(70%);
  }

  .card .card__description {
    font-size: clamp(15px, 20px, 3.5vw);
    padding: 0px 1.5rem;
    color: #efeee6;
    font-weight: 500;
    display: block;
    position: absolute;
    left: 0;
    top: 35%;
    transform: translateY(-50%);
    z-index: 100;
  }
} */