/* .projectbody{
    background-image: url("../imgs/anas-alshanti-feXpdV001o4-unsplash.jpg");
    background-size: cover;
    background-repeat: round;
} */

.mainp{
    color: #fcfdfe;
    margin: auto;
    padding: 150px 0px 100px 0px;
    max-width: 1100px;
}

.mainp .headingp{
    color: aqua;
    font-size: 40px;
    text-align: center;
    text-decoration: overline;
}

.mainp .project{
    margin-top: 50px;
    font-size: 24px;
    display: flex;
}

.mainp .project .title{
    font-size: 30px;
    color: aqua;
    /* text-align: center; */
}

.mainp .project .project-details{
    padding: 10px 20px;
}

.mainp .project .project-details .desc{
    margin-top: 20px;
    font-style: italic;
}

.mainp .project .project-img{
    border-radius: 10px;
    
}

.mainp .project .project-img:hover{
    transition: 1s;
    box-shadow: 0px 0px 20px 5px #abcff0;
}

@media (width < 1000px) {
    .mainp .project{
        display: block;
    }

    .mainp .project .project-img{
        width: 90%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .mainp .project .whatsapp-img{
        width: 70%;
    }

    @media (width < 600px){
        .mainp .headingp{
            font-size: 30px;
        }

        .mainp .project{
            font-size: 20px;
        }
        
        .mainp .project .title{
            font-size: 26px;
        }
    }
}