/* .skillsbody{
    background-image: url("../imgs/anas-alshanti-feXpdV001o4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */

.mainS{
    color: #fcfdfe;
    margin: auto;
    /* margin-top: 100px; */
    max-width: 800px;
    min-height: 50vh;
    padding: 50px 5px;
}

.mainS .headingS{
    color: #ddac58;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: 3.1px solid;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 5%;
    font-weight: 500;
}

.mainS .detailsS{
    font-size: 26px;
}

.mainS .detailsS ul{
    padding: 20px;
    display: inline-flex;
    flex-wrap: wrap;
}

.mainS .detailsS ul li{
    margin: 20px 60px;
}

/* .mainS .detailsS ul li::before{
    content: "\2023";
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
} */

@media (width < 600px){

    .mainS{
        max-width: 400px;
        /* margin-left: 10px; */
    }

    .mainS .detailsS ul{
        display: block;
    }

    .mainS .headingS{
        font-size: 30px;
    }

    .mainS .detailsS{
        font-size: 26px;
    }
}