.work-experince{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    /* height: 100vh; */
}

.carousel {
    overflow: hidden;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }

  .Worktitle{
    font-size: 3vw;
    text-transform: uppercase;
    color: #d0cdf8;
  }
  
  .carousel-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .carousel-item-text {
    font-size: 1.3em;
    margin: 40px 0 40px 0;
    text-align: center;
    white-space: normal;
    /* color: #617d98; */
  }
  .carousel-img {
    height: 400px;
    border-radius: 10px;
  }

  .carousel-img:hover{
    box-shadow: 0 0 15px 5px #5d5d65;
  }
  
  .carousel-buttons {
    display: flex;
    justify-content: space-evenly;
  }
  
  .button-arrow {
    background: none;
    border: none;
    cursor: pointer;
    /* margin-top: 20px; */
  }
  
  .indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .indicator-buttons {
    border: none;
    cursor: pointer;
  }
  
  .indicators > button {
    margin: 5px;
    background: none;
  }
  
  .indicator-symbol {
    color: #ffffff50;
  }
  
  .indicator-symbol-active {
    color: #ffffff;
  }