

*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: #0a192f;
    display: flex;
    justify-content: space-around;    
    width: 100%;
    padding: 8px 10px;
    top: 0; 
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 3px 1px #000;
}

.nav .logo{
    height: 50px;
}

.nav .toggle-icon{
    display: none;
}

.nav-links{
    display: flex;
    font-size: 20px;
}

.nav .nav-links .sub-link{
    text-decoration: none;
    font-weight: 600; 
    margin: 10px;
    cursor:grab;
    color: #e6f1ff90;;
}

.nav .nav-links .sub-linkactive{
    transition: 1s; 
    border-radius: 10px;
    color: #6ce0dc;

    
}

@media (width < 800px ){
    .nav{
        justify-content: space-between;
    }

    .nav .toggle-icon{
        display: block;
        padding-right: 20px;
    }

    .nav-links{
        display: none;
        font-size: 30px;
    }

    .nav.expanded{
        height: 100vh;
        transition: 0.5s ease-in-out ;
    }

    .nav .logo{
        height: 40px;
    }

    .nav.expanded .nav-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav.expanded .nav-links .sub-link{
        font-size: 24px;
    }

    .nav .nav-links{
        margin-top: 5px;
        justify-content: center;
    }

    .nav .nav-links .sub-link{
        font-size: 18px;
    } 

    
}