

*{
    margin: 0;
    padding: 0;
}

.nav{
    /* background-color:rgba(10, 25, 47, 0.85); */
    background-color: rgba(57, 54, 70, 0.90);
    display: flex;
    justify-content: space-between; 
    width: 100%;
    padding: 10px 10px;
    top: 0; 
    position: fixed;
    z-index: 99;
    transition: 0.2s linear;
    box-shadow: 0 10px 30px -10px #112240;
    -webkit-backdrop-filter:  blur(15px) brightness(75%) saturate(70%);
    backdrop-filter: blur(15px) brightness(75%) saturate(70%);
}

.hide{
    transform: translateY(-80px);
    transition: 0.2s linear;
}

.nav .logo{
    height: 50px;
    margin-left: 3rem;
    background-color: #393646;
    background-blend-mode: multiply;
}

.nav .logo-name{
    font-size: 30px;
    margin-left: 3rem;
    color: #f4eee0;
    text-decoration: none;
}

.nav .toggle-icon{
    display: none;
}

.nav-links{
    display: flex;
    font-size: 20px;
    margin-right: 3rem;
    align-items: center;
}

.nav .nav-links .sub-link{
    text-decoration: none;
    font-weight: 600; 
    margin: 10px 15px;
    cursor: -webkit-grab;
    cursor: grab;
    color: #a8b2d1;
    color: #f4eee0;
    color: #fff;
}

.nav .nav-links .sub-link span{
    color: #6ce0dc;
    display: none; 
}

.nav .nav-links .sub-link:hover{
    transition: 0.3s ease-in;
    color: #6ce0dc;
    color: rgba(246, 246, 246, 0.573);
}



/* .nav .nav-links .sub-linkactive{
    transition: 1s; 
    border-radius: 10px; 
} */

@media (width < 750px ){

    .nav .toggle-icon{
        display: block;
        padding-right: 20px;
    }

    .nav .logo{
        height: 50px;
        margin-left: 10px;
    }

    .nav .toggle-icon svg{
        height: 50px;
        width: 50px;
    }

    .nav-links{
        display: none;
    }

    .nav.expanded{
        height: 100vh;
        transition: 100vh 0.5s linear;
    }

    .nav.expanded .nav-links{
        display: flex;
        flex-direction: column;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
    }

    .nav.expanded .nav-links .sub-link{
        font-size: 24px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav .nav-links{
        margin-top: 5px;
        justify-content: center;
    }

    .nav .nav-links .sub-link{
        font-size: 18px;
    } 

    
}

@media (width < 500px){
    .nav .logo{
        height: 45px;
        margin-left: 10px;
    }

    .nav .toggle-icon svg{
        height: 45px;
        width: 45px;
    }
}

@media (width < 350px) {
    .nav.expanded .nav-links .sub-link{
        font-size: 16px;
    }
}

