*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: #1f1f24;
    display: flex;
    justify-content: space-around; 
    font-weight: 500;
    width: 100%;
    padding: 10px;
    top: 0; 
    position: fixed;    
}

.nav .logo{
    font-size: 22px;
    color: #fdfcfe;
    align-self: center;
}

.nav-links{
    display: flex;
    font-size: 18px;
    /* margin-left: 10px; */
    justify-content: center;
}

.nav .nav-links .sub-link{
    text-decoration: none;
    color: #fdfcfe;
    padding:15px 15px;
}

.nav .nav-links .sub-linkactive{
    color: aqua;
}

.nav .nav-links .sub-link:hover{
    transition: 1s;
    font-size: 21px;
    color: aqua;
}   



@media (width < 700px ){
    .nav{
        height: 11%;
        display: block;
    }

    .nav .logo{
        width: 280px;
        margin: auto;
    }
    
}

@media (width < 300px) {
    .nav .nav-links .sub-link{
        padding: 5px;
        font-size: 16px;
    }
}

@media (width > 800px){
    .nav .logo{
        font-size: 25px;
    }

    /* .nav .nav-links .sub-link{
        font-size: 20px;
    }

    .nav .nav-links .sub-link:hover{
        font-size: 24px;
    } */
}