body{
  background-color: #1f1f24;
  /* background-color: #1f1e1e; */
}

  ::-webkit-scrollbar{
    width: 8px;
    height: 10px;
    
  }

  ::-webkit-scrollbar-track{
    background-color: #1f1f1f;
  }

  ::-webkit-scrollbar-thumb{
    background-color: #abcff0;
    border-radius: 5px;
  }