@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #e5e5e5;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom scrollbar with new dark theme */
::-webkit-scrollbar {
  background: rgba(45, 45, 45, 0.60);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}